


<form ng-submit="create()" role="Form"  class="col-md-6">
 
    <label> Location Name:</label>
    <input type="text" placeholder="Location name here" ng-model="location.LocationName" class="form-control" /><br />

    <label>Customer Address:</label>
    <input type="text" placeholder="Write Address" ng-model="location.Address" class="form-control" /><br />
    
    <label>Zip Code:</label>
    <input type="text" placeholder="Zip Code Here" ng-model="location.ZipCode" class="form-control"/><br />

    <label>State:</label>
    <input type="text" placeholder="Enter State" ng-model="location.State" class="form-control" /><br />

    <button class="btn btn-default" type="submit" >Create</button>
    
</form>

